{% extends "base.html" %}
{% block content %}
<div class="container mt-5">
    <h2 class="text-center mb-4">重設密碼</h2>
    <p class="text-center">請輸入您註冊時使用的郵箱地址，我們將向該郵箱發送密碼重設鏈結。</p>
    
    <div class="text-center mb-4">
        <img src="{% static 'travel.wed_logo.png' %}" alt="Logo" class="logo-custom-size"> <!-- 添加 Logo -->
    </div>

    <div class="col-md-6 offset-md-3">
        <form method="POST" class="border p-4 rounded bg-light shadow">
            {% csrf_token %}
            <div class="mb-3">
                {{ form.email.label_tag }}
                {{ form.email|add_class:"form-control" }} <!-- 增加 Bootstrap 的样式 -->
            </div>
            <button type="submit" class="btn btn-primary w-100">發送重新設定密碼郵件</button>
        </form>
    </div>
</div>
{% endblock %}