html, body {
	margin: 0; /* 清除預設邊距 */
	padding: 0; /* 清除預設內邊距 */
	width: 100%; /* 設定寬度為 100% */
	height: 100%; /* 設定高度為 100% */
	overflow-x: hidden; /* 隱藏水平滾動條 */
	overflow-y: auto; /* 允許垂直滾動 */
	box-sizing: border-box; /* 設定邊框和內邊距計算方式 */
}

h1,h2,h3,h4,h5,h6{
	font-family: 'Noto Sans TC', sans-serif;
}
p,a,span,li,label{
	font-family: 'Open Sans', sans-serif;
}

.btn{
    background-color: #FF7575;
    padding: 7px 28px;
    border: none;
}
.btn:hover{
	opacity:0.8;
	background-color: #f05f5c!important;
}








